.home__bg-pink {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 90%;
}
.home__bg-mint {
  position: fixed;
  transform: rotate(-25deg);
  top: 35%;
  left: 5%;
  width: 45%;
}

.form__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--from-bg-color);
  border-radius: 30px;
  width: 80%;
  height: auto;
  padding: 1rem;
  box-shadow: 10px 10px #131313;
  animation-name: anim-form;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.8, 1.28, 0.79, 1.29);
  overflow-y: scroll;
  overflow-x: hidden;
}
.form__title {
  position: relative;
  margin: 1rem;
  font-family: title-saint-regus;
  background-color: var(--btn-bg-color);
}
.form__btn {
  position: absolute;
  border-radius: 30px;
  background-color: var(--btn-bg-color-click);
  box-shadow: 3px 3px #131313;
  border: 1px solid rgb(100, 100, 100);
  font-family: var(--text-font-family);
}
.form__container__ingredients {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 8px;
  background-color: var(--btn-bg-color);
  height: auto;
}
.form__btn__go {
  position: relative;
  border-radius: 30px;
  background-color: var(--btn-bg-color);
  box-shadow: 3px 3px #131313;
  font-size: 1rem;
  margin-top: 20px;
  padding: 0.4rem;
  border: 1px solid rgb(100, 100, 100);
  font-family: var(--text-font-family);
}
@keyframes anim-form {
  from {
    height: 5rem;
  }
  to {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65vh;
  }
}
@media screen and (min-width: 700px) {
  .form__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--from-bg-color);
    border-radius: 30px;
    width: 60%;
    height: auto;
    padding: 1rem;
    box-shadow: 10px 10px #131313;
  }

  .form__title {
    display: flex;
    justify-content: start;
    margin: 1rem;
    font-size: 1.5rem;
    background-color: var(--btn-bg-color);
  }

  .form__btn {
    position: relative;
    border-radius: 30px;
    background-color: var(--btn-bg-color);
    background-color: var(--btn-bg-color);
    box-shadow: 3px 3px #131313;
    font-size: var(--text-font-family);
  }

  .form__btn__click {
    position: relative;
    border-radius: 30px;
    background-color: var(--btn-bg-color-click);
    box-shadow: 3px 3px #131313;
    font-size: var(--text-font-family);
  }

  .form__container__ingredients {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px;
    background-color: var(--btn-bg-color);
  }
}
@media screen and (min-width: 200px) {
  .form__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--from-bg-color);
    border-radius: 30px;
    width: 80%;
    height: auto;
    padding: 1rem;
    box-shadow: 10px 10px #131313;
  }

  .form__title {
    display: flex;
    justify-content: start;
    margin: 1rem;
    font-size: 1.5rem;
    background-color: var(--btn-bg-color);
  }

  .form__btn {
    position: relative;
    border-radius: 30px;
    background-color: var(--btn-bg-color);
    background-color: var(--btn-bg-color);
    box-shadow: 3px 3px #131313;
    font-size: var(--text-font-family);
  }

  .form__btn__click {
    position: relative;
    border-radius: 30px;
    background-color: var(--btn-bg-color-click);
    box-shadow: 3px 3px #131313;
    font-size: var(--text-font-family);
  }

  .form__container__ingredients {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px;
    background-color: var(--btn-bg-color);
  }
}
@media screen and (min-width: 900px) {
  .form__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--from-bg-color);
    border-radius: 30px;
    width: 45%;
    height: auto;
    padding: 1rem;
    box-shadow: 10px 10px #131313;
    overflow: hidden;
  }
}
@media screen and (min-width: 700px) {
  .form__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--from-bg-color);
    border-radius: 30px;
    width: 60%;
    height: auto;
    padding: 1rem;
    box-shadow: 10px 10px #131313;
  }

  .form__title {
    display: flex;
    justify-content: start;
    margin: 1rem;
    font-size: 1.5rem;
    background-color: var(--btn-bg-color);
  }

  .form__btn {
    position: relative;
    border-radius: 30px;
    background-color: var(--btn-bg-color);
    background-color: var(--btn-bg-color);
    box-shadow: 3px 3px #131313;
    font-size: var(--text-font-family);
  }

  .form__btn__click {
    position: relative;
    border-radius: 30px;
    background-color: var(--btn-bg-color-click);
    box-shadow: 3px 3px #131313;
    font-size: var(--text-font-family);
  }

  .form__container__ingredients {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px;
    background-color: var(--btn-bg-color);
  }
}
@media screen and (min-width: 900px) {
  .form__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--from-bg-color);
    border-radius: 30px;
    width: 45%;
    height: auto;
    padding: 1rem;
    box-shadow: 10px 10px #131313;
    overflow: hidden;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1140px) {
  .form__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--from-bg-color);
    border-radius: 30px;
    width: 40%;
    height: auto;
    padding: 1rem;
    box-shadow: 10px 10px #131313;
  }
}
@media screen and (max-width: 200px) {
  .form__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--from-bg-color);
    border-radius: 30px;
    width: 40%;
    height: auto;
    padding: 1rem;
    box-shadow: 10px 10px #131313;
  }
}
@media screen and (min-width: 2000px) {
  .form__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--from-bg-color);
    border-radius: 30px;
    width: 30%;
    height: 30vh;
    padding: 1rem;
    box-shadow: 10px 10px #131313;
  }
  .form__title {
    display: flex;
    justify-content: start;
    margin: 1rem;
    font-size: 3rem;
    background-color: var(--btn-bg-color);
  }

  .form__btn {
    position: relative;
    border-radius: 30px;
    background-color: var(--btn-bg-color);
    box-shadow: 3px 3px #131313;
    font-size: 2rem;
  }

  .form__container__ingredients {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px;
    background-color: var(--btn-bg-color);
  }
  .form__btn__go {
    font-size: 2rem;
    padding: 1rem;
  }
}
